In [2]:
n = int(input('enter num of rows'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

enter num of rows5
*
* *
* * *
* * * *
* * * * *

In [11]:
n = int(input('enter num of rows'))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print("*",end=" ")
    print()

enter num of rows5
* * * * *
* * * *
* * *
* *
*

In [9]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print("*",end = " ")
    print()

enter no of rows4
* * * *
* * * *
* * * *
* * * *

In [21]:
n = int(input('enter nu of rows'))
for i in range(1,n+1):
    for j in range(i):
        print("*"*i)
    print()

enter nu of rows5
*

**
**

***
***
***

****
****
****
****

*****
*****
*****
*****
*****

In [8]:
n = int(input('enter no of rows :'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i,end=" ")
    print()

enter no of rows :5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [14]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(j,end = " ")
    print()

enter no of rows5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [23]:
n = int(input('enter no of rows :'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+i),end=" ")
    print()

enter no of rows :5
A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [24]:
x = chr(65)
x

'A'

In [25]:
x = ord('D')
x

68

In [27]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+j),end = " ")
    print()

enter no of rows5
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [37]:
n = int(input('enter no of rows :'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(n+1-i,end = " ")
    print()

enter no of rows :10
10 10 10 10 10 10 10 10 10 10
9 9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8 8 8
7 7 7 7 7 7 7 7 7 7
6 6 6 6 6 6 6 6 6 6
5 5 5 5 5 5 5 5 5 5
4 4 4 4 4 4 4 4 4 4
3 3 3 3 3 3 3 3 3 3
2 2 2 2 2 2 2 2 2 2
1 1 1 1 1 1 1 1 1 1

In [38]:
n = int(input('enter no of rows :'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(n+1-j,end = " ")
    print()

enter no of rows :10
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1

In [56]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(65+n-i),end = " ")
    print()

enter no of rows10
J J J J J J J J J J
I I I I I I I I I I
H H H H H H H H H H
G G G G G G G G G G
F F F F F F F F F F
E E E E E E E E E E
D D D D D D D D D D
C C C C C C C C C C
B B B B B B B B B B
A A A A A A A A A A

In [55]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(65+n-j),end = " ")
    print()

enter no of rows10
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A

In [62]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end = " ")
    print()

enter no of rows10
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

In [60]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(n-i+1,end = " ")
    print()

enter no of rows10
10 10 10 10 10 10 10 10 10 10
9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [63]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end = " ")
    print()

enter no of rows10
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [65]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(64+i),end = " ")
    print()

enter no of rows10
A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H
I I I I I I I I I
J J J J J J J J J J

In [67]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(64+j),end = " ")
    print()

enter no of rows10
A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G
A B C D E F G H
A B C D E F G H I
A B C D E F G H I J

In [69]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(i,end = " ")
    print()

enter no of rows10
1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6
7 7 7 7
8 8 8
9 9
10

In [70]:
n = int(input('enter no for rows'))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(j,end = " ")
    print()

enter no for rows10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [71]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(chr(64+i),end = " ")
    print()

enter no of rows10
A A A A A A A A A A
B B B B B B B B B
C C C C C C C C
D D D D D D D
E E E E E E
F F F F F
G G G G
H H H
I I
J

In [74]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(chr(64+j),end = " ")
    print()

enter no of rows10
A B C D E F G H I J
A B C D E F G H I
A B C D E F G H
A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [78]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(n+1-i,end = " ")
    print()

enter no of rows10
10 10 10 10 10 10 10 10 10 10
9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [79]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(n+1-j,end = " ")
    print()

enter no of rows10
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2
10 9 8 7 6 5 4 3
10 9 8 7 6 5 4
10 9 8 7 6 5
10 9 8 7 6
10 9 8 7
10 9 8
10 9
10

In [82]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(chr(65+n-i),end = "")
    print()

enter no of rows10
JJJJJJJJJJ
IIIIIIIII
HHHHHHHH
GGGGGGG
FFFFFF
EEEEE
DDDD
CCC
BB
A

In [87]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(chr(65+n-j),end = " ")
    print()

enter no of rows10
J I H G F E D C B A
J I H G F E D C B
J I H G F E D C
J I H G F E D
J I H G F E
J I H G F
J I H G
J I H
J I
J

In [19]:
n = int(input("Enter the number of rows: "))
for i in range(0, n):
    for j in range(0, n-i):
        print(" ", end="")
    for j in range(0, i*2+1):
        print("*", end="")
    print()

Enter the number of rows: 4
    *
   ***
  *****
 *******

In [3]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    print(" "*(n-i),end = " ")
    for j in range(1,i+1):
        print("*",end = " ")
    print()

enter no of rows5
     *
    * *
   * * *
  * * * *
 * * * * *

In [44]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    print(" "*(i-1),end = " ")
    for j in range(1,n+1-i):
        print("*",end = " ")
    print()

enter no of rows4
 * * *
  * *
   *

In [34]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    print(" "*(n-i),end = " ")
    for j in range(1,i+1):
        print(i,end = " ")
    print()

enter no of rows10
          1
         2 2
        3 3 3
       4 4 4 4
      5 5 5 5 5
     6 6 6 6 6 6
    7 7 7 7 7 7 7
   8 8 8 8 8 8 8 8
  9 9 9 9 9 9 9 9 9
 10 10 10 10 10 10 10 10 10 10

In [35]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    print(" "*(n-i),end = " ")
    for j in range(1,i+1):
        print(j,end = " ")
    print()

enter no of rows10
          1
         1 2
        1 2 3
       1 2 3 4
      1 2 3 4 5
     1 2 3 4 5 6
    1 2 3 4 5 6 7
   1 2 3 4 5 6 7 8
  1 2 3 4 5 6 7 8 9
 1 2 3 4 5 6 7 8 9 10

In [37]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    print(" "*(n-i),end = " ")
    for j in range(1,i+1):
        print(chr(64+i),end = " ")
    print()

enter no of rows10
          A
         B B
        C C C
       D D D D
      E E E E E
     F F F F F F
    G G G G G G G
   H H H H H H H H
  I I I I I I I I I
 J J J J J J J J J J

In [38]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    print(" "*(n-i),end = " ")
    for j in range(1,i+1):
        print(chr(64+j),end = " ")
    print()

enter no of rows10
          A
         A B
        A B C
       A B C D
      A B C D E
     A B C D E F
    A B C D E F G
   A B C D E F G H
  A B C D E F G H I
 A B C D E F G H I J

In [42]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    for j in range(1,n+1-i):
        print("*",end = " ")
    print()

enter no of rows10
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [54]:
n = int(input('enter no of rows'))
for i in range(1,n+1):
    print(" "*(i-1),"*"*(n+1-i),end = " ")
    print()

enter no of rows5
 *****
  ****
   ***
    **
     *

In [90]:
n = int(input('enter no of rows'))
for i in range(1,n+1): 
    print(""*(i-1),end="")
    for j in range(1,n+2-i):
        print(i,end = "")
    print()

enter no of rows5
11111
2222
333
44
5