In [1]:
import math
import numpy as np

In [4]:
def fun(n):
    if n<0:
        return 0
    elif n==0 or n == 1:
        return 1
    else:
        fact = 1
        while n>1:
            fact = n*fact
            n = n-1
    return fact
    
n = 4
fun(n)

24

In [9]:
n = int(input('enter a num'))
if n>1:
    for i in range(2,n):
        if n%i == 0:
            print(n,'is not a prime')
            break
    else:
        print(n,'is a prime number')
else:
    print(n,'is not a prime')

enter a num18
18 is not a prime

In [11]:
def fun(n):
    a = 0
    b = 1
    print(a)
    print(b)
    for i in range(2,n):
        print(a+b)
        a,b = b,a+b
    
n = 10
fun(n)

0
1
1
2
3
5
8
13
21
34

In [13]:
def fun(n):
    fn = 0
    sn = 1
    res = 1
    while res<n:
        fn = sn
        sn = res
        res = fn+sn
    if res == n:
        print(n,'is fibb num')
    else:
        print('is not a fibb num')
    
n = int(input('enter a num to check'))
fun(n)

enter a num to check14
is not a fibb num

In [16]:
def fun(n):
    res = 0
    for i in range(1,n+1):
        res = res + i*i
    return res
    
n = 3
fun(n)

14

In [15]:
n = 345
temp = n
res = 0
while n > 0:
    last = n % 10
    res = res * 10 + last
    n = n // 10
print(res)

543

In [16]:
def fun(n):
    if n > 0:
        fun(n-1)
        print(n)
    
n = 10
fun(n)

1
2
3
4
5
6
7
8
9
10

In [21]:
n = 8
res = 0
i = 1
while i < n:
    res = 1<<i
    if res == n:
        print(n,'is a power of 2')
        break
    i = i + 1
else:
    print(n,'is not a power of 2')

8 is a power of 2

In [22]:
mat = []
n = int(input('enter no of elements'))
for i in range(0,n):
    x = int(input())
    mat.append(x)
print(mat)

enter no of elements4
1
2
3
4
[1, 2, 3, 4]

In [26]:
r = int(input())
c = int(input())
mat = []

for i in range(r):
    a = []
    for j in range(c):
        a.append(int(input()))
    mat.append(a)
print(mat)

for i in range(r):
    for j in range(c):
        print(mat[i][j],end = " ")
    print()

2
2
1
2
3
4
[[1, 2], [3, 4]]
1 2
3 4

In [27]:
def fun(arr,n,d):
    arr[:] = arr[d:n] + arr[0:d]
    return arr
   
arr = [1,2,3,4,5]
n = len(arr)
fun(arr,n,2)

[3, 4, 5, 1, 2]

In [38]:
import numpy as np
x = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(x)

r_sum = 0
c_sum = 0

print('\n row sum')
for i in range(len(x)):
    for j in range(len(x)):
        r_sum = r_sum + x[i][j]
    print(r_sum,end = " ")
    r_sum = 0
print("\n col sum")
for j in range(len(x)):
    for i in range(len(x)):
        c_sum = c_sum + x[i][j]
    print(c_sum,end = " ")
    c_sum = 0

[[1 2 3]
 [4 5 6]
 [7 8 9]]

 row sum
6 15 24
 col sum
12 15 18

In [41]:
x = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(x)
res = [[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(x)):
    for j in range(len(x[0])):
        res[j][i] = x[i][j]
for i in range(len(res)):
    for j in range(len(res)):
        print(res[i][j],end = " ")
    print()

[[1 2 3]
 [4 5 6]
 [7 8 9]]
1 4 7
2 5 8
3 6 9

In [49]:
m = 2
n= 3
x = [n*[0] for i in range(m)]
print(x,end = " ")

[[0, 0, 0], [0, 0, 0]]

In [55]:
l = [1,2,3,4,5,6,7]
for i in reversed(l):
    print(i)

7
6
5
4
3
2
1

In [57]:
n = int(input('enter no of elements'))
l = [1,9,3,4,5,6,7]

res = []
for i in range(0,n):
    max1 = 0
    for j in range(0,len(l)):
        if l[j] > max1:
            max1 = l[j]
    l.remove(max1)
    res.append(max1)
print(res)

enter no of elements2
[9, 7]

In [62]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [63]:
s1 = input('enter a string')
s2 = ""
for i in range(len(s1)):
    if i%2 == 0:
        s2 = s2 + s1[i]
print(s2)

enter a stringanaconda
aaod

In [66]:
s1 = "abhiishu"
s2 = ""
x = len(s1)
for i in range(x):
    s2 = s1[0:2] + s1[x-2:x]
print(s2)

abhu

In [68]:
s1 = "I am programmer. I am student"
s1 = s1.split()
word = input('enter a string to check')
res = []
count = 0
for i in range(len(s1)):
    if s1[i] == word:
        count = count + 1
print(count)

enter a string to checkI
2

In [4]:
class Book:
    def __init__(self,pages):
        self.pages = pages
        
    def __add__(self,other):
        return self.pages + other.pages
b1 = Book(100)
b2 = Book(200)
print(b1+b2)

300

In [8]:
class P:
    def fun(self):
        print('gold+cash+house')
    def marry(self):
        print('appalamma')
class C(P):
    def marry(self):
        super().marry()
        print('alia')
o = C()
o.fun()
o.marry()

gold+cash+house
appalamma
alia

In [11]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
class Employee(Person):
    def __init__(self,name,age,id,salary):
        super().__init__(name,age)
        self.id = id
        self.salary = salary
        
    def display(self):
        print('name is',self.name)
        print('age is',self.age)
        print('id is',self.id)
        print('salary is',self.salary)
e = Employee('tony',25,1,45000)
e.display()

name is tony
age is 25
id is 1
salary is 45000

In [12]:
def group_anagrams(str1):
    dict1 = {}
    for word in str1:
        sorted_word = "".join(sorted(word))
        
        if sorted_word not in dict1:
            dict1[sorted_word] = [word]
        else:
            dict1[sorted_word].append(word)
    res = []
    for i in dict1.values():
        res.append(i)
    return dict1

str1 = ["eat","tea","tan","ate","nat","bat"]
res = group_anagrams(str1)
print(res)

{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat']}

In [16]:
str1 = "mississipi"
dict1 = {}
for char in str1:
    if char in dict1:
        dict1[char] += 1
    else:
        dict1[char] = 1
print(dict1)

{'m': 1, 'i': 4, 's': 4, 'p': 1}

In [22]:
def char_count(x):
    res = ""
    count = 1
    
    for i in range(1,len(x)):
        if x[i] == x[i-1]:
            count = count + 1
        else:
            res = res + x[i-1] + (str(count) if count>0 else "")
            count = 1
    res = res + x[-1] + (str(count) if count > 0 else "")
    return res
        

x = "abbc"
res = char_count(x)
res

'a1b2c1'

In [23]:
sr1 = "a4b3c2"
res = ""
for i in sr1:
    if i.isalpha():
        res = res + i
        pre = i
    else:
        res = res + pre*(int(i)-1)
print(res)

aaaabbbcc

In [28]:
s1 = "ishwarya"
dict1 = {}
for char in s1:
    if char in dict1:
        dict1[char] += 1
    else:
        dict1[char] = 1
print(dict1)

maximum = max(dict1.values())

for i in dict1:
    if maximum == dict1[i]:
        high = i
print(high)

{'i': 1, 's': 1, 'h': 1, 'w': 1, 'a': 2, 'r': 1, 'y': 1}
a

In [32]:
junior = {'SI 206':4, 'SI 310':4, 'BL 300':3, 'TO 313':3, 'BCOM 350':1, 'MO 300':3}
res = 0
for value in junior:
    res = res + junior[value]
print(res)

18

In [34]:
dict1 = {1601:'aman',1602:'roshini',1603:'usha',1699:'krishna'}
x = int(input('enter a key to delete'))
try:
    res = dict1.pop(x)
    print(res)
except:
    print('key is not found')

enter a key to delete1601
aman

In [41]:
from collections import defaultdict

dict1 = defaultdict(lambda:4)

dict1['a'] = 1
dict1['b'] = 2
print(dict1['a'])
print(dict1['b'])
print(dict1['c'])

1
2
4

In [42]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
res = {value:key for key, value in my_dict.items()}
print(res)

{1: 'a', 2: 'b', 3: 'c'}

In [1]:
n1 = 1
n2 = 10
while n1<n2:
    for i in range(1,n1+1):
        if i*i == n1:
            print(n1)
    n1 = n1 +1

1
4
9

In [2]:
n = 3
res = []
for i in range(1,n+1):
    x = int(input())
    res.append(x)
print(res)

1
2
3
[1, 2, 3]

In [6]:
rows = 2
col = 3
mat = []

for i in range(rows):
    a = []
    for j in range(col):
        a.append(int(input()))
    mat.append(a)
print(mat)

for i in range(rows):
    for j in range(col):
        print(mat[i][j],end = " ")
    print()

1
2
3
4
5
6
[[1, 2, 3], [4, 5, 6]]
1 2 3
4 5 6

In [7]:
arr = [1,2,3,4,5,6]
n = len(arr)
d = 2
arr[:] = arr[d:n] + arr[0:d]
print(arr)

[3, 4, 5, 6, 1, 2]

In [10]:
import numpy as np
twoDArray = np.array([[11, 15, 10, 6], [10, 14, 11, 5], [12, 17, 12, 8], [15, 18, 14, 9] ])
print(twoDArray)

for i in range(len(twoDArray)):
    for j in range(len(twoDArray)):
        print(twoDArray[i][j])

[[11 15 10  6]
 [10 14 11  5]
 [12 17 12  8]
 [15 18 14  9]]
11
15
10
6
10
14
11
5
12
17
12
8
15
18
14
9

In [12]:
import numpy as np
a = np.array([[1,2,1],[2,3,5]])  #2*3 matrix
b = np.array([[1,2,0],[4,2,1],[1,1,1]])  #3*3 matrix

print(a)
print(b)

res = [[0,0,0],[0,0,0]]

for i in range(len(a)):
    for j in range(len(b[0])):
        for k in range(len(b)):
            res[i][j] = res[i][j] + a[i][k] * b[k][j]
for r in res:
    print(r)

[[1 2 1]
 [2 3 5]]
[[1 2 0]
 [4 2 1]
 [1 1 1]]
[10, 7, 3]
[19, 15, 8]

In [14]:
import numpy as np
a = np.array([[1,2,1],[2,3,5]])  #2*3 matrix
b = np.array([[1,2,0],[4,2,1],[1,1,1]])  #3*3 matrix

print(a)
print(b)

res = [[0,0,0],[0,0,0]]

for i in range(len(a)):
    for j in range(len(b)):
        res[i][j] = a[i][j] * b[i][j]
for r in res:
    print(r)

[[1 2 1]
 [2 3 5]]
[[1 2 0]
 [4 2 1]
 [1 1 1]]
[1, 4, 0]
[8, 6, 5]

In [19]:
x = np.array([[10,20,30],[40,50,60],[70,80,90]])
print(x)

res = [[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(x)):
    for j in range(len(x[0])):
        res[j][i] = x[i][j]
for r in res:
    print(r)

[[10 20 30]
 [40 50 60]
 [70 80 90]]
[10, 40, 70]
[20, 50, 80]
[30, 60, 90]

In [20]:
x = list(map(int, input().split()))
x

1 2 3 4 5 6 7 8 9 0

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [21]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
temp = x[0]
x[0] = x[len(x)-1]
x[len(x)-1] = temp
print(x)

[0, 2, 3, 4, 5, 6, 7, 8, 9, 1]

In [25]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
for i in range(len(x)//2):
    temp = x[i]
    x[i] = x[len(x)-1-i]
    x[len(x)-1-i] = temp
print(x)

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [35]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
x.reverse()
x

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
def fun(arr,n):
    res = []
    for i in range(n):
        max1 = 0
        for j in range(len(arr)):
            if arr[j] > max1:
                max1 = arr[j]
        arr.remove(max1)
        res.append(max1)
    return res
        

arr = list(set([2, 6, 41, 85, 0, 3, 85, 6, 10]))
n = 2
fun(arr,n)

[85, 41]

In [46]:
s = "ishwarya"
res = ""
for char in range(len(s)):
    if s[char] == 'a':
        res = res + 'A'
    else:
        res = res + s[char]
print(res)

ishwAryA

In [49]:
def fun(n):
    if n > 0:
        fun(n-1)
        print(n)
    
n = 10
fun(n)

1
2
3
4
5
6
7
8
9
10

In [50]:
s1 = 'abhi'
s2 = 'ishu'
s1 = set(s1)
s2 = set(s2)
res = list(s1 & s2)
print(res)

['i', 'h']

In [52]:
s1 = 'abhi'
s2 = 'ishu'
res = ""
for i in s1:
    for j in s2:
        if i == j:
            res = res + i
print(list(res))

['h', 'i']

In [65]:
x = 'mississipi'
s = list(x)
dict1 = {}
for char in s:
    if char not in dict1:
        dict1[char] = 1
    dict1[char] += 1
print(dict1)

{'m': 2, 'i': 5, 's': 5, 'p': 2}

In [57]:
s = 'mississipi'
s = list(s)
s

['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'i']

In [68]:
def fun(x):
    count = 1
    res = ""
    
    for i in range(1, len(x)):
        if x[i] == x[i-1]:
            count = count + 1
        else:
            res = res + x[i-1] + (str(count) if count > 0 else "")
            count = 1
    res = res + x[-1] + (str(count) if count>0 else "")
    return res
    
x = "abbc"
res = fun(x)
res

'a1b2c1'

In [73]:
sr1 = "a4b3c2"
res = ""

for i in sr1:
    if i.isalpha():
        res = res + i
        pre = i
    else:
        res = res + chr(ord(pre)+int(i))
print(res)

aebece

In [75]:
s = 'ishu'
res = ""
for i in range(len(s)):
    if ord(s[i])>96 and ord(s[i])<123:
        res = res + chr(ord(s[i])-32)
print(res)

ISHU

In [1]:
x = list(map(int, input().split()))
x

1 2 3 4 5

[1, 2, 3, 4, 5]

In [2]:
x = [int(i) for i in input('enter numbers').split()]
x

enter numbers1 2 3 4 5

[1, 2, 3, 4, 5]

In [4]:
x = eval("10+20+30")
x

60

In [6]:
a,b,c = 10,20,30
print(a,b,c,sep = '-')

10-20-30

In [7]:
n = int(input('enter a number'))
sum1 = 0
i = 0
while i<=n:
    sum1 = sum1 + i
    i = i + 1
print(sum1)

enter a number10
55

In [ ]:
i = 0
while True:
    i = i +1 
    print('ishu',i

In [3]:
for i in range(1,11):
    if i == 7:
        print('excecute the break process')
        break
    print(i)

1
2
3
4
5
6
excecute the break process

In [4]:
for i in range(1,11):
    if i == 7:
        print('excecute the continue process')
        continue
    print(i)

1
2
3
4
5
6
excecute the continue process
8
9
10

In [18]:
s = 'tony stark'
print(s[::-1])
print(''.join(reversed(s)))
for i in range(len(s)-1,-1,-1):
    print(s[i],end = "")
    
l = []
l1 = s.split()
for i in range(len(l1)):
    l.append(l1[i][::-1])
    
print(l)

krats ynot
krats ynot
krats ynot['ynot', 'krats']

In [29]:
s1 = 'abhi'
s2 = 'ishu'

res = ""
for i in range(min(len(s1),len(s2))):
    res = res + s1[i] + s2[i]
    
print(res)

aibshhiu

In [31]:
x = [1,2,3,4,5]
x.reverse()
x

[5, 4, 3, 2, 1]

In [37]:
from collections import defaultdict

d = defaultdict(lambda :'not present')
d['a'] = 97
d['i'] = 106
print(d['d'])

not present

In [39]:
def remove_duplicates(l, key):
    seen = set()
    res = []
    
    for d in l:
        current_key = d[key]
        
        if current_key not in seen:
            seen.add(current_key)
            res.append(d)
    return res




# Example usage:
list_of_dicts = [
    {'id': 1, 'name': 'Alice'},
    {'id': 2, 'name': 'Bob'},
    {'id': 1, 'name': 'Charlie'},
    {'id': 3, 'name': 'David'},
]

unique_list = remove_duplicates(list_of_dicts, 'id')
print(unique_list)

[{'id': 1, 'name': 'Alice'}, {'id': 2, 'name': 'Bob'}, {'id': 3, 'name': 'David'}]

In [9]:
def fun(*n):
    total = 0
    for i in n:
        total = total + i
    return total
    
fun(10)
fun(10,20)
fun(10,20,30)

60

In [12]:
res = lambda x,y: x*y
print(res(2,3))

6

In [17]:
def fun(x):
    if x%2 == 0:
        return True
    else:
        return False
l = [1,2,3,4,5,6,7,8,9]
res = list(filter(fun,l))
res

[2, 4, 6, 8]

In [18]:
l = [1,2,3,4,5,6,7,8,9]
res = list(filter(lambda x:x%2==0, l))
print(res)

[2, 4, 6, 8]

In [19]:
def fun(x):
    return x**2
l = [1,2,3,4,5,6,7,8,9]
res = list(map(fun, l))
res

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
class P:
    def m1(self):
        print('parent class')
class C(P):
    def m2(self):
        print('child class')
c = C()
c.m1()
c.m2()

parent class
child class

In [23]:
class Person:
    def __init__(self, name, id):
        self.name = name
        self.id = id
    def display(self):
        print('name is',self.name)
        print('id is',self.id)
class Student(Person):
    def __init__(self,name, id, marks, age):
        super().__init__(name, age)
        self.marks = marks
        self.age = age
    def display(self):
        super().display()
        print('marks are',self.marks)
        print('age is',self.age)
s = Student('tony',2,99,45)
s.display()

name is tony
id is 45
marks are 99
age is 45

In [26]:
class fun:
    def __init__(self,pages):
        self.pages = pages
    def __add__(self, other):
        return self.pages + other.pages
        
b1 = fun(100)
b2 = fun(200)
print(b1+b2)

300

In [1]:
def binary(my_list,target):
    low = 0
    high = len(my_list) - 1
    
    while low <= high:
        mid = (low+high)//2
        if my_list[mid] == target:
            return mid
        elif my_list[mid] < target:
            low = mid+1
        else:
            high = mid-1
    return -1

my_list = [64, 34, 25, 12, 22, 11, 90]
target = 3
binary(my_list,target)

-1

In [2]:
def bubble(arr):
    n = len(arr)
    for i in range(n):
        for j in range(n-i-1):
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]
    return arr

arr = [64, 34, 25, 12, 22, 11, 90]
bubble(arr)

[11, 12, 22, 25, 34, 64, 90]

In [3]:
def selection(arr):
    n = len(arr)
    for i in range(n):
        min_index = i
        
        for j in range(i+1,n):
            if arr[j] < arr[min_index]:
                min_index = j
        arr[i], arr[min_index] = arr[min_index], arr[i]
    return arr
arr = [64, 34, 25, 12, 22, 11, 90]
selection(arr)

[11, 12, 22, 25, 34, 64, 90]

In [1]:
1<<2

4

In [5]:
num = 8
res = 0
i = 1
while i<num:
    res = 1<<i
    if res == num:
        print(num,'is a power of 2')
        break
    i += 1
else:
    print(num,'is not a power of 2')

8 is a power of 2

In [3]:
list1 = [9,8,7,6,5,4,3,2,1,0]

In [5]:
from functools import reduce
l = [9,8,2]
res = reduce(lambda x,y:x*y,l)
print(res)

144

In [17]:
def fun(l,n):
    
    res = []
    for i in range(0,n):
        a = []
        max1 = l[0]
        for i in range(len(l)):
            if l[i] > max1:
                max1 = l[i]
        l.remove(max1)
        res.append(max1)
    return res
    
l = [11, 122, 22, 25, 34, 64, 90]
n = int(input(""))
fun(l,n)

3

[122, 90, 64]

In [21]:
s = "ishu"
res = ""
for char in range(len(s)):
    if char%2 == 0:
        res = res + s[char]
print(res)

ih

In [29]:
s = "ishu"
s = list(s)
s.reverse()
print("".join(s))

uhsi

In [36]:
s1 = "ishu"
s2 = "abhi"
s1 = set(s1)
s2 = set(s2)
res = (s1|s2)
print(res)

{'u', 'b', 'a', 'h', 'i', 's'}

In [37]:
s = "ishu"
vowels = set("aeiou")
count = 0
for char in vowels:
    if char in s:
        count += 1
print(count)

2

In [42]:
s = "bbaba"
rev = s[::-1]
print(s)
print(rev)
res = ""

for char in range(len(s)):
    if s[char] == rev[char]:
        res = res + s[char]
print(res)

bbaba
ababb
bab

In [ ]:
start = int(input("enter a starting point"))
end = int(input("enter a ending point"))

for num in range(start,end):
    temp = num
    result = 0
    
    while(temp > 0):
        last = temp % 10
        result = (result * 10) + last
        num = num //10
    if num == result:
        print(num)

enter a starting point1
enter a ending point100

In [ ]:
start = int(input("Enter a starting point: "))
end = int(input("Enter an ending point: "))

print("Palindrome numbers between", start, "and", end, "are:")

for num in range(start, end):
    temp = num
    reverse_num = 0
    
    while temp > 0:
        last_digit = temp % 10
        reverse_num = (reverse_num * 10) + last_digit
        temp = temp // 10

    if num == reverse_num:
        print(num)