In [2]:
l = "Length of the longest substring without repeating characters:"
words = l.split()
word = len(words[0])
for w in words:
    if len(w) > word:

6
6
6
6
6

In [ ]:
l = "Length of the longest substring without repeating characters:"

max_length = 0
start = 0
visited = {}

for i in range(len(l)):
    if l[i] in visited and start <= visited[l[i]]:
        
        
    else:
        max_length = max(max_length, start-i+1)
        
    visited[l[i]] = i

In [2]:
l = "abdabcbb"
n = len(l)
if n == 0:
    print(False)
max_length = 0
start = 0
dict1 = {}

for i in range(n):
    if l[i] in dict1 and dict1[l[i]]>=start:
        start = dict1[l[i]] + 1
    else:
        dict1[l[i]] = i
    max_length = max(max_length,i-start)
print(max_length)

4
{'a': 0, 'b': 6, 'd': 2, 'c': 5}

In [6]:
def longest_substring(s):
    n = len(s)
    if n == 0:
        return 0
    
    max_length = 0
    start = 0
    visited = {}
    
    for end in range(n):
        if s[end] in visited and start <= visited[s[end]]:
            start = visited[s[end]] + 1
            print(start)
        else:
            max_length = max(max_length, end - start + 1)
            print(max_length)
        visited[s[end]] = end
        print(visited)
        
    return max_length

# Example usage:
input_string = "abcabcbb"
print("Longest substring without repeating characters:", longest_substring(input_string))

1
{'a': 0}
2
{'a': 0, 'b': 1}
3
{'a': 0, 'b': 1, 'c': 2}
1
{'a': 3, 'b': 1, 'c': 2}
2
{'a': 3, 'b': 4, 'c': 2}
3
{'a': 3, 'b': 4, 'c': 5}
5
{'a': 3, 'b': 6, 'c': 5}
7
{'a': 3, 'b': 7, 'c': 5}
Longest substring without repeating characters: 3

In [11]:
s1 = 1
s2 = 100
for num in range(s1,s2):
    temp = num
    res = 0
        
    while temp >0:
        last = temp % 10
        res = res * 10 + last
        temp = temp // 10
    
    if num == res:
        if num % 2 != 0:
            print(num)

1
3
5
7
9
11
33
55
77
99

In [19]:
def char_count(x):
    res = ""
    count = 0
    for char in range(1,len(x)):
        if x[char] == x[char-1]:
            count = count + 1
        else:
            res = res + x[char-1] + (str(count) if count>0 else "")
            count = 1
    res = res + x[-1] + (str(count) if count>0 else "")
    return res
    
x = "abbc"
res = char_count(x)
res

'ab2c1'

In [24]:
s = "abhi ishu"
s = s.split()
res = []
for char in range(len(s)):
    res.append(s[char][::-1])
print("".join(res))

ihbauhsi

In [2]:
num = 5
fact = 1
while num > 0:
    fact = fact * num
    num = num -1
print(fact)

120

In [3]:
def fun(num):
    if num<0:
        return False
    elif num==0 or num == 1:
        return 1
    else:
        fact = 1
        while num>0:
            fact = fact *num
            num = num-1
    return fact


num = 5
fun(num)

120

In [4]:
import math
num = 5
res = math.factorial(num)
print(res)

120

In [6]:
num = 7
if num > 1:
    for i in range(2,num):
        if num%i==0:
            print(num,'is not a prime')
            break
    else:
        print(num,'is a prime')
else:
    print(num,'is not a prime')

7 is a prime

In [9]:
start = 1
stop = 30

for i in range(start, stop):
    if i > 1:
        for j in range(2, i):
            if i%j == 0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29

In [10]:
def fibb(num):
    a = 0
    b = 1
    print(a)
    print(b)
    
    for i in range(num):
        print(a+b)
        a, b = b, a+b

num = 10
fibb(num)

0
1
1
2
3
5
8
13
21
34
55
89

In [14]:
def fibonacci(num):
    if num<0:
        return False
    if num==1:
        return 0
    if num==2:
        return 1
    else:
        return fibonacci(num-1)+fibonacci(num-2)

num = 9
fibonacci(num)

21

In [3]:
def fun(n):
    a = 0
    b = 1
    res = 1
    print(a)
    print(b)
    print(res)
    
    while res<n:
        a = b
        b = res
        res = a+b
        print(res)
        
    if res == n:
        print(n,'is a fibb')
    else:
        print(n,'is not a fibb')

n = 10
fun(n)

0
1
1
2
3
5
8
13
10 is not a fibb

In [5]:
num = 345
res = 0

while num >0:
    rem = num%10
    res = res *10+rem
    num = num//10
print(res)

543

In [12]:
s1 = 100
s2 = 200

for num in range(s1,s2):
    temp = num
    res = 0
    while num>0:
        
        rem = num%10
        res = res*10+rem
        num = num//10
    
        if res == temp:
            print(res)

101
111
121
131
141
151
161
171
181
191

In [13]:
def fun(n):
    if n>0:
        fun(n-1)
        print(n)

n = 10
fun(n)

1
2
3
4
5
6
7
8
9
10

In [15]:
n = 32
res = 0

for i in range(1,n+1):
    res = 1<<i
    if res == n:
        print(n,'is power of 2')
        break
else:
    print(n,'is not a power of 2')

32 is power of 2

In [16]:
def fun(n1,n2):
    max1 = max(n1,n2)
    
    while True:
        if max1%n1==0 and max1%n2==0:
            lcm = max1
            break
        max1 +=1
    return lcm

n1 = 3
n2 = 6
fun(n1,n2)

6

In [20]:
def gcd(n1,n2):
    while n2:
        if n1>0:
            n1, n2 = n2, n1%n2
    return n1


n1 = 3
n2 = 6
gcd(n1,n2)

3

In [24]:
def fun(num):
    if num%2 == 0:
        return True
    else:
        return False

x = [1,2,3,4,5,6,7,8,9,10]

res = filter(fun, x)
print(list(res))

[2, 4, 6, 8, 10]

In [62]:
# Function to generate Fibonacci numbers up to a given limit
def generate_fibonacci(limit):
    fibonacci_numbers = []
    a, b = 0, 1
    for i in range(2, num-1):
        fibonacci_numbers.append(a)
        a, b = b, a + b
    return fibonacci_numbers
limit = 10

In [67]:
# Function to check if a number is a Fibonacci number
def is_fibonacci(num, fibonacci_numbers):
    return num in fibonacci_numbers

is_fibonacci(4, fibonacci_numbers)

False

In [ ]:
# List of elements to filter
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use filter() to keep only Fibonacci numbers
res = filter(lambda num: is_fibonacci(num, fibonacci_numbers), x)

# Convert the result to a list and print it
print(list(res))

In [1]:
def fun(n):
    if n > 0:
        fun(n-1)
        print(n)

n = 10
fun(n)

1
2
3
4
5
6
7
8
9
10

In [5]:
def fun(num):
    for i in range(2,num+1):
        if num%i == 0:
            is_prime = 1
            for j in range(2,i):
                if i%j == 0:
                    is_prime = 0
                    break
            if is_prime == 1:
                print(i)
            
num = 10
fun(num)

2
5

In [6]:
num = 4
res = 0
i = 1
while i<=num:
    res = 1<<i
    if res == num:
        print(num,'is power of 2')
        break
    i = i + 1
else:
    print(num,'is not power of 2')

4 is power of 2

In [9]:
num = 4
res = 0

for i in range(1, num+1):
    res = 1<<i
    if res == num:
        print(num,'is a power of 2')
        break
else:
    print(num,'is not a power of 2')

4 is a power of 2

In [11]:
res = list(map(lambda x:x+1, list(map(int, input().split()))))
res

1 2 3 4 5 6 7 8 9 10

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [3]:
x = []
n = int(10)
for i in range(0,n):
    a = int(input())
    x.append(a)
print(x)

1
2
3
4
5
6
7
8
9
0
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [17]:
import numpy as np
x = np.array([[10,20,30],[40,50,60],[70,80,90]])
print(x)

res = [[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(x)):
    for j in range(len(x[0])):
        res[j][i] = x[i][j]
for i in range(len(res)):
    for j in range(len(res)):
        print(res[i][j],end=" ")
    print()

[[10 20 30]
 [40 50 60]
 [70 80 90]]
10 40 70
20 50 80
30 60 90

In [18]:
seq = ['apple','banana','apple','orange','banana','pear','banana','pear','banana']
count = {}

for word in seq:
    if word in count:
        count[word] += 1
    else:
        count[word] = 1
print(count)

{'apple': 2, 'banana': 4, 'orange': 1, 'pear': 2}

In [20]:
def fun(l):
    large1 = l[0]
    large2 = l[0]
    
    for i in range(len(l)):
        if l[i]>large1:
            large1 = l[i]
    for i in range(len(l)):
        if l[i] > large2 and l[i] != large1:
            large2 = l[i]
    return large2
list1 = [10, 20, 4, 45, 99]
print(fun(list1))

45

In [31]:
def secondlarge(l,n):
    res = []
    
    for i in range(0,n):
        max1 = 0
        
        for j in range(0,len(l)):
            if l[j] > max1:
                max1 = l[j]
        l.remove(max1)
        res.append(max1)
    return res[-1]


list1 = [10, 20, 4, 45, 99]
num = 1
print(secondlarge(list1,num))

99

In [32]:
def secondlarge(l,n):
    res = []
    
    for i in range(0,n):
        max1 = 0
        
        for j in range(0,len(l)):
            if l[j] > max1:
                max1 = l[j]
        l.remove(max1)
        res.append(max1)
    return res[-1]


list1 = [10, 20, 4, 45, 99]
num = 2
print(secondlarge(list1,num))

45

In [8]:
l = [67,4,5,3,8,34,92,5,66,7]
res = list(filter(lambda x:x-1, l))
res

[67, 4, 5, 3, 8, 34, 92, 5, 66, 7]

In [3]:
res = lambda x,y:x**3+y**3
print(res(2,2))

16

In [11]:
def fun(n):
    if n>0:
        fun(n-1)
        print(n)
    
n = 10
fun(n)

1
2
3
4
5
6
7
8
9
10

In [17]:
s = "abdabcbb"

start = 0
max_length = 0
count = {}

for i in range(len(s)):
    if s[i] in count and start <= count[s[i]]:
        start = count[s[i]]+1
    
    else:
        max_length = max(max_length, i-start+1)
    count[s[i]] = i
print(max_length)

4

In [20]:
def group_anagrams(s):
    count = {}
    
    for word in s:
        sorted_word = "".join(sorted(word))
        
        if sorted_word in count:
            count[sorted_word].append(word)
        else:
            count[sorted_word] = [word]
        
    return count


str1 = ["eat","tea","tan","ate","nat","bat"]
res = group_anagrams(str1)
print(res)

{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat']}

In [21]:
def char_count(x):
    count = 0
    s = ""
    
    for i in range(1,len(x)):
        if x[i] == x[i-1]:
            count += 1
        else:
            s = s + x[i-1] + str(count if count>1 else "")
            count = 1
    s = s + x[-1] + str(count if count>1 else "")
    count = 1
    return s


x = "abbc"
res = char_count(x)
res

'ab2c'

In [29]:
def fun(s):
    counts = {}

    for char in s:
        if char in counts:
            counts[char] +=1
        else:
            counts[char] = 1

    max1 = max(counts.values())

    for i in counts:
        if max1 == counts[i]:
            print(i)
s1 = 'ishwarya'
s2 = 'abhinay'
fun(s2)

a

In [1]:
def bubble_sort(arr):
    n = len(arr)
    
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]
    return arr

my_list = [64, 34, 25, 12, 22, 11, 90]
bubble_sort(my_list)
print("Sorted array is:", my_list)

Sorted array is: [11, 12, 22, 25, 34, 64, 90]

In [4]:
def selection_sort(arr):
    n = len(arr)
    
    for i in range(n):
        min_index = i
        
        for j in range(i+1, n):
            if arr[j] < arr[min_index]:
                min_index = j
        arr[i], arr[min_index] = arr[min_index], arr[i]

my_list = [64, 34, 25, 12, 22, 11, 90]
selection_sort(my_list)
print("Sorted array is:", my_list)

Sorted array is: [11, 12, 22, 25, 34, 64, 90]

In [8]:
def binary(arr,target):
    low = 0
    high = len(arr)-1
    
    while low<=high:
        mid = (low+high)//2
        
        if arr[mid] == target:
            return mid
        elif arr[mid]< target:
            low = mid + 1
        else:
            high = mid-1
    return -1

my_list = [11, 12, 22, 25, 34, 64, 90]
target = 34
binary(my_list,target)

4

In [1]:
import pandas as pd
from sklearn import linear_model

In [2]:
model = linear_model.LinearRegression()

In [ ]:
model.fit()

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.figure(figsize=(10,7))
sns.heatmap(cm, annot=True)

In [3]:
def fun(arr,k):
    count = 0
    pre_sum = 0
    dict1 = {0:1}
    
    for num in arr:
        pre_sum = pre_sum + num
        
        if pre_sum - k in dict1:
            count = count + dict1[pre_sum - k]
        if pre_sum in dict1:
            dict1[pre_sum] = dict1[pre_sum] + 1
            
        else:
            dict1[pre_sum] = 1
    return count




array = [10, 2, -2, -20, 10]
k = -10
fun(array, k)

3

In [4]:
def max_subarray(nums):
    c_sum = nums[0]
    m_sum = nums[0]
    
    for i in range(1,len(nums)):
        c_sum = max(nums[i], nums[i]+c_sum)
        m_sum = max(m_sum,c_sum)
    return m_sum


nums = [-2,1,-3,4,-1,2,1,-5,4]
res = max_subarray(nums)
print(res)

6

In [10]:
def longest_common_prefix(s):
    lcp = ""
    
    min_index = len(s[0])
    for i in range(len(s)):
        min_index = min(min_index, len(s[i]))
        
    for i in range(0,min_index):
        current = s[0][i]
        for j in range(0,len(s)):
            if s[j][i] != current:
                return lcp
        lcp = lcp + current
    return lcp



s = ['flower','flow','flight']
longest_common_prefix(s)

'fl'

In [14]:
t1 = "abcde"
t2 = "ace"
m = len(t1)
n = len(t2)

mat = [[0]*(n+1) for z in range(m)]

for i in range(m):
    for j in range(n):
        if t1[i] == t2[j]:
            mat[i+1][j+1] = mat[i][j]+1
        else:
            mat[i+1][j+1] = max(mat[i][j+1], mat[i+1][j])
print(mat)

IndexError: list index out of range

In [16]:
def fun(nums):
    index = 1
    
    for i in range(1,len(nums)):
        if nums[i-1] != nums[i]:
            nums[index] = nums[i]
            index = index + 1
    return index, nums[:index]


nums = [0,0,1,1,1,2,2,3,3,4]
fun(nums)

(5, [0, 1, 2, 3, 4])

In [17]:
def fun(nums):
    res = []
    
    for i in range(len(nums)):
        if nums[i] not in res:
            res.append(nums[i])
    return res


nums = [0,0,1,1,1,2,2,3,3,4]
fun(nums)

[0, 1, 2, 3, 4]

In [22]:
def move_zeros(nums):
    non_zero_index = 0
    
    for i in range(len(nums)):
        if nums[i] != 0:
            nums[non_zero_index] = nums[i]
            non_zero_index += 1
    for i in range(non_zero_index,len(nums)):
        nums[i] = 0
    return nums
    
nums1 = [0, 1, 0, 3, 12]
move_zeros(nums1)

[1, 3, 12, 0, 0]

In [24]:
0%26

0

In [36]:
def excel_col(col_num):
    col_name = ""
    
    while col_num > 0:
        rem = (col_num - 1)%26
        col_name = chr(ord('A')+rem) + col_name
        col_num = (col_num - 1)//26
    return col_name

print(excel_col(1))  
print(excel_col(35))  
print(excel_col(701))

A
AI
ZY

In [32]:
def excel_name(col_name):
    col_num = 0
    for char in col_name:
        val = ord(char) - ord('A') + 1
        col_num = col_num *26 + val
    return col_num
    

print(excel_name('A'))  
print(excel_name('AB'))  
print(excel_name('ZY'))

1
28
701

In [40]:
def increment(digits):
    sum1 = 0
    for num in digits:
        sum1 = sum1*10 + num
    sum1 = sum1+1
    
    res = []
    while sum1>0:
        res.insert(0,sum1%10)
        sum1 = sum1//10
    return res
    
    
digits = [1,2,3]
increment(digits)

[1, 2, 4]

In [8]:
my_list = [1, 2, 3, 4, 5]
result = my_list[0:4:2]
print(result)

[1, 3]

In [9]:
list1 = [1, 2, 4, 3]
list2 = [1, 2, 3, 4]
print(list1 != list2)

True

In [13]:
i = j = [3]
i = i + j

print(i)

[3, 3]

In [16]:
def f1(a,b=[]):
    b.append(a)
    return b

print (f1(2,[3,4]))

[3, 4, 2]

In [18]:
lst = [10, 25, 4, 12, 3, 8]
sorted(lst)

[3, 4, 8, 10, 12, 25]

In [22]:
i, j, k = 4, -1, 0
w = i or j or k
x = i and j and k
y = i or j and k
z = i and j or k

print(z)

-1

In [34]:
for index in range(20, 10,-3):
    print(index,end = ' ')

20 17 14 11

In [ ]:
20 19 18 17 16 15 14 13 12 11

In [35]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]
print(a == c)
print(a is c)

True
False

In [36]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3] = [7, 8, 9]
print(my_list)

[1, 7, 8, 9, 4, 5]

In [37]:
print(3*2**3)

24

In [40]:
print(True*10)

10

In [41]:
def multipliers():
    return [lambda x, i=i: i * x for i in range(4)]

result = [m(2) for m in multipliers()]
print(result)

[0, 2, 4, 6]

In [44]:
s = [lambda x, i=i: i * x for i in range(4)]
s(1)

TypeError: 'list' object is not callable

In [45]:
cl = ('a',)
print(cl)

('a',)

In [46]:
a = [10]
b = [10]
print(a is b)
print(a == b)

False
True

In [47]:
s = {1, 2, 3, 4, 1}
s.discard(0)
print(s)

{1, 2, 3, 4}

In [48]:
def add(a, b):
    return a + b
result = add(3,'2')
print(result)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [49]:
print([]*3)

[]

In [54]:
4%5

4

In [55]:
x = 10
while x > 0:
    print(x)
    x -= 1

10
9
8
7
6
5
4
3
2
1

In [56]:
roman = {1:'i',2:'ii'}
d,r=roman
print(d,r)

1 2

In [57]:
c = 'hello'
print(c.center(10,'1'))

11hello111

In [58]:
numbers = [1,2,3]
for num in numbers:
    print(num)

1
2
3

In [59]:
r = [20, 40, 60, 80]
r[1:4] = []
print(r)

[20]

In [61]:
a = [1,2,3,4,5]
print(a[:4].pop())

4

In [62]:
k = [2, 1, 0, 3, 0, 2, 1]
print(k.count(k.index(0)))

2

In [63]:
g = [1, 2, 3, 2, 5]
g.remove(2)
print(g)

[1, 3, 2, 5]

In [64]:
for i in range(1):
    print(i, end = "")

0

In [65]:
for i in range(3,9,2):
    print(i)

3
5
7

In [67]:
cl = 4
while cl < 9:
    cl = cl + 1
    print(cl, end='-')

5-6-7-8-9-

In [68]:
py = 2+3
print('py')

py

In [69]:
def f(value, values):
    v = 1
    values[0] = 44
t = 3
v = [1, 2, 3]
f(t, v)
print(t, v[0])

3 44

In [3]:

type(type(int))

type

In [4]:
2*3**2

18

In [10]:
a = 'ishu'
b = 'ishu'
print(a is b)

True

In [13]:
class Student:
    def __init__(self,pages):
        self.pages = pages
    def __add__(self,others):
        return self.pages+others.pages
    
b1 = Student(100)
b2 = Student(200)
print(b1+b2)

300

In [14]:
class Student:
    def m1(self):
        print('0 argument method')
    def m2(self,a):
        print('1 argument method')
    def m3(self, a, b):
        print('2 argument method')
s = Student()
s.m1()
s.m2(100)
s.m3(200,300)

0 argument method
1 argument method
2 argument method

In [17]:
class Test:
    def fun(self,*nums):
        total = 0
        for num in nums:
            total = total + num
        print(total)
t = Test()
t.fun(1)
t.fun(1,2)
t.fun(1,2,3,4,5)

1
3
15

In [19]:
class Father:
    def property(self):
        print("money+land+gold")
    def marry(self):
        print('appalamma')
class Me(Father):
    def marry(self):
        print('emma watson')
o = Me()
o.property()
o.marry()

money+land+gold
emma watson

In [21]:
from abc import *
class Test:
    @abstractmethod
    def m1(self):
        pass
t = Test()
t.m1()

In [24]:
from abc import *
class Test(ABC):
    @abstractmethod
    def m1(self):
        pass
class Exam(Test):
    pass
t = Exam()
t.m1()

TypeError: Can't instantiate abstract class Exam with abstract method m1

In [25]:
from abc import *
class Bank(ABC):
    @abstractmethod
    def deposit(self,amount):
        pass
    
    @abstractmethod
    def withdraw(self,amount):
        pass

In [32]:
print('tony')
try:
    print('tony'/300)
except:
    print(300/300)
print('steve')

tony
1.0
steve